spring:
  config:
    import: optional:file:.env.dev[.properties]
  datasource:
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
  jpa:
    open-in-view: false
  liquibase:
    change-log: classpath:changelog/db.changelog-master.xml
    default-schema: ${DEFAULT_SCHEMA}
    liquibase-schema: ${LIQUIBASE_SCHEMA}
  application:
    name: task-service
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: ${ISSUER_URI}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      retries: 3
      properties:
        retry.backoff.ms: 1000
        reconnect.backoff.ms: 1000
        reconnect.backoff.max.ms: 10000
        request.timeout.ms: 30000
        metadata.max.age.ms: 30000
        delivery.timeout.ms: 60000
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWT_JWK_SET_URI}
  task:
    scheduling:
      pool:
        size: 10
      thread-name-prefix: "scheduler-"
    execution:
      pool:
        core-size: 5
        max-size: 10
        queue-capacity: 100
      thread-name-prefix: "async-"
server:
  port: ${PORT}

kafka:
  topics:
    email-sending: ${KAFKA_TOPIC_EMAIL_SENDING:email-sending-topic}
    user-info: ${KAFKA_TOPIC_USER_INFO:user-info-topic}
    task-notification: ${KAFKA_TOPIC_TASK_NOTIFICATION:task-notification-topic}
  retry:
    max-attempts: 3
    initial-delay: 5s
    max-delay: 1m
    multiplier: 2.0
    counter-ttl: 1h
    cache-expire-after-write: 1h
    cache-maximum-size: 10000

services:
  auth-service:
    url: http://localhost:9000
app:
  message:
    recovery:
      enabled: true
      batch-size: 50
      initial-delay: 30s
      max-recovery-attempts: 3
  scheduling:
    daily-tasks-summary-cron: "0 0 22 * * *"